a {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: sans-serif;
  color:#fff;
}

html{
  background-color: black;
}

.titulo{
  margin-bottom: 10px;
  margin-top: auto;
  border: 10px;
  border-color: #002349;
  


}
.titulo-producto{
  color: #6caafb;
  font-size: 85px;
  margin: 30px;
}
.titulo-carrito{
  color: white;
}
.tienda{
  color: #fff;
  text-shadow: 10px 5px 5px #000000;
  
}

.tienda-precio{
  word-spacing: normal;
  font-size: 30px;
}
.tienda-descripcion{
  font-size: 15px;
}

h3{
  color: white;
}

.carrito{
  font-size: 65px;
  margin: 0px;
}
.carrito, .prodcar, .precar{
  color: white;
}


.producto {
  color: #ffffff;
}

select {
  border-radius: 15px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: auto;
  background-color: grey;
  color: white;
}

select:hover{
  background-color: white;
  color: grey;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;;
}

button:hover {
  background-color: #0056b3;
}

img{
  width: 10%;
}

.carritoimg{
  width: 50px;
  height: 50px;
}
body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210 30% 24%);
}
